# Ignore build and static folders from language stats
/build/* linguist-vendored
/dist/* linguist-vendored
/docs/* linguist-vendored
./src/results/Dashboard/* linguist-vendored

# Force Python to be counted correctly
#*.py linguist-language=Python
