#==================Information App===============================
APP_NAME="FOcrew"
APP_VERSION="0.1"
#==================Types of files========================

FILE_ALLOWED_TYPES=["text/csv","application/vnd.ms-excel","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]

#====================config Database=========================
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="....."
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_MAIN_DATABASE="FOcrew_DB"

DB_BACKEND="pgvector"

#=============d=====supabase config===========================
SUPABASE_URL=""
SUPABASE_SECRET=""
#====================S3 storage config========================
ENDPOINT_URL="https:/................cloudflarestorage.com/focrew-files"
AWS_ACCESS_KEY_ID="861................."
AWS_SECRET_ACCESS_KEY="79491............."
REGION="auto"
AWS_BUCKET="focrew-files"
#=====================config model==========================
MODEL_NAME_LITERAL=["gemini/gemini-2.5-pro","gemini/gemini-2.0-flash-exp","gemini/gemini-2.0-flash","gemini/gemini-2.5-flash-lite-preview-06-17"] 
            
MODEL_NAME="gemini/gemini-2.0-flash"
API_KEY="AIzaSyBgImCrSf.................."    
TEMPERATURE=0.1
#===================init Agent =================================
AGANT_NAME_LITERAL=["inventory_managment","marketing_stratgey_planner"]
AGENT_NAME="inventory_managment"
DATA_PATH="" 

COMPANY_NAME="Brea"
INDUSTRY_NAME="online grocery delivery service"
LANGUAGE_LITERAL=["Arabic","English"]
LANGUAGE=#"Arabic"
LOGO_COMPANY="./docs/logo.pnp" 

#==================init Send Email ============================
GMAIL_USER="FOcrew...@gmail.com"
GMAIL_APP_PASSWORD="wrrb....."

MANAGER_LITERAL=["mahmoud....@gmail.com","mostafa....@gmail.com"]
MANAGERS="mosta...@gmail.com,ma...@gmail.com,Wag...@gmail.com"
